<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class=header>
        <div class="logo"><a href="/"><img src="../static/images/GOllery.jpg" alt=""></a></div>
        <div class="menu">
            <ul>
                <li><a href="">Ana Sayfa</a></li>
                <li><a href="#">Galeri</a>
                    <ul>
                        <li><a href="upload">Yükle</a></li>
                        <li><a href="download">İzle</a></li>
                    </ul>
                </li>
                <li><a href="">Hakkında</a></li>
                <li><a href="">İletişim</a></li>
            </ul>
        </div>
    </div>
    <div class="banner"></div>
</body>
</html>